<%= form_for(@order) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p><%= button_to "Submit Payment", checkout_create_path, params: {}, remote: true %></p>
  <p>
    <%#= f.submit %>
  </p>
<% end %>
